* {
  margin: 0;
  padding: 0;
}

.footer2{
  color: azure;
  background: rgb(37, 108, 189);

}

.navimg{
  background: rgb(37, 108, 189);
  display: flex;
  max-width: 100%;
  background-size: cover;
  
}

.navimgs{
  
  display: flex;
  max-width: 100%;
 


}

.navbar-brand{
  font-size: 0, 1rem;
  font-family: "Fredoka One", cursive;
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh;

}
.nav-link{
   font-weight: 600;
   color:black;
 
}
.banner2{
  width: 100%;
  display: flex;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  
 
}
